.user {
  margin-top: 1em;
  background-color: #252836;
  padding: 2.3em 2em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__left {
  margin-right: 1.5em;
}

.user__left img {
  border-radius: 0.5em;
}

.user__right h1 {
  margin-bottom: 0.25em;
}

.user__right li {
  margin-bottom: 0.25em;
}
